// 公共全局CSS， 主要用于指定默认样式

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Hiragino Sans GB", 微软雅黑, 华文细黑, STHeiti, "Microsoft YaHei";
}
html,body{
  height:100%;
  background-color: #fafafa;
}

#__nuxt {
  height:100%;
}
#__layout {
  height:100%;
  overflow: auto;
}
#main_wrapper {
  height: 100%;
  //background: #000004;
}

.main-container{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  @include isDevice("!mobile") {
    min-width: 1024px;
    overflow-x: auto;
  }
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym {
  border:0;
}
@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #000000;
  font-size:15px;
  /*字体*/
}
li {
  list-style: none;
}
input,img{
  border: none;
}